<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <!--<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"></button> <a class="brand" href="./index.html">Bootstrap</a>-->
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="">
                        <a href="http://github.com/sirprize/dijitive">Dijitive on Github</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>