<script>
    var radio1OnChange = function (ev) {
        console.info('Value is: ' + this.get('value'));
    }
    
    var radio2OnChange = function (ev) {
        console.info('Value is: ' + this.get('value'));
    }
</script>

<input type="radio" name="size" value="large" data-dojo-type="dojo-form-controls/Radio" data-dojo-props="onChange: radio1OnChange">
<input type="radio" name="size" value="small" data-dojo-type="dojo-form-controls/Radio" data-dojo-props="onChange: radio2OnChange" checked>