<select name="dec1" multiple="true" data-dojo-type="dojo-form-controls/Select" required="true" size="3" class="form-control">
    <option value="">Please select</option>
    <option value="steak-and-lobster" selected="selected">Steak &amp; Lobster</option>
    <option value="clam-chowder" selected="selected">Clam Chowder</option>
    <option value="pizza" disabled="true">Pizza</option>
    <option value="pasta">Pasta</option>
    <script type="dojo/aspect" data-dojo-method="onChange" data-dojo-args="value">
        console.info('select.onChange(): ' + value);
    </script>
    
    <script type="dojo/watch" data-dojo-prop="value" data-dojo-args="prop, old, val">
        console.info('select.watch("value")', prop, old, val);
    </script>
</select>