---
---

{% assign dijitButtonDoc = 'http://dojotoolkit.org/reference-guide/1.8/dijit/form/Button.html' %}
{% assign dijitCheckboxDoc = 'http://dojotoolkit.org/reference-guide/1.8/dijit/form/CheckBox.html' %}
{% assign dijitRadioDoc = 'http://dojotoolkit.org/reference-guide/1.8/dijit/form/RadioButton.html' %}
{% assign dijitSelectDoc = 'http://dojotoolkit.org/reference-guide/1.8/dijit/form/Select.html' %}
{% assign dijitTextareaDoc = 'http://dojotoolkit.org/reference-guide/1.8/dijit/form/SimpleTextarea.html' %}
{% assign dijitExpandingTextareaDoc = 'http://dojotoolkit.org/reference-guide/1.8/dijit/form/Textarea.html' %}
{% assign dijitTextboxDoc = 'http://dojotoolkit.org/reference-guide/1.8/dijit/form/TextBox.html' %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Dijitive - Dojo Dijits For Native Form Controls</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        {% include styles.html %}
        {% include html5shim.html %}
    </head>

    <body>
        {% include navbar.html %}

        <!-- Subhead -->
        <header class="jumbotron subhead" id="overview">
            <div class="container">
                <h1>Dijitive</h1>
                <p class="lead">Dojo Dijits For Native Form Controls.</p>
            </div>
        </header>

        <div class="container">

            <!-- Docs nav -->
            <div class="row">
                <div class="span3 bs-docs-sidebar">
                    <ul class="nav nav-list bs-docs-sidenav">
                        <li><a href="#button"><i class="icon-chevron-right"></i> Button</a></li>
                        <li><a href="#checkbox"><i class="icon-chevron-right"></i> Checkbox</a></li>
                        <li><a href="#radio"><i class="icon-chevron-right"></i> Radio</a></li>
                        <li><a href="#select"><i class="icon-chevron-right"></i> Select</a></li>
                        <li><a href="#textarea"><i class="icon-chevron-right"></i> Textarea</a></li>
                        <li><a href="#expanding-textarea"><i class="icon-chevron-right"></i> Expanding Textarea</a></li>
                        <li><a href="#textbox"><i class="icon-chevron-right"></i> Textbox</a></li>
                    </ul>
                </div>
            
                <div class="span9">
                    
                    <!-- Button -->
                    <section id="button" class="spy">
                        <div class="page-header">
                            <h1>Button</h1>
                            <p>Representation of a native <code>{{ '<button>' | escape}}</code> element. Same API as <a href="{{ dijitButtonDoc }}">dijit/form/Button</a>.
                        </div>
                        
                        <div class="bs-docs-example">
                            {% include index/button.html %}
                        </div>
                        
                        <h3>Declarative</h3>
                        {% capture snippet %}{% include index/button.html %}{% endcapture %}
                        <pre class="prettyprint linenums">{{ snippet | escape }}</pre>
                        
                        <h3>Programmatic</h3>
                        {% capture snippet %}{% include index/button.js %}{% endcapture %}
                        <pre class="prettyprint linenums">{{ snippet | escape }}</pre>
                    </section>
                    
                    <!-- Checkbox -->
                    <section id="checkbox" class="spy">
                        <div class="page-header">
                            <h1>Checkbox</h1>
                            <p>Representation of a native <code>{{ '<input type="checkbox"/>' | escape}}</code> element. Same API as <a href="{{ dijitCheckboxDoc }}">dijit/form/CheckBox</a>.</p>
                        </div>
                        
                        <div class="bs-docs-example">
                            {% include index/checkbox.html %}
                        </div>
                        
                        <h3>Declarative</h3>
                        {% capture snippet %}{% include index/checkbox.html %}{% endcapture %}
                        <pre class="prettyprint linenums">{{ snippet | escape }}</pre>

                        <h3>Programmatic</h3>
                        {% capture snippet %}{% include index/checkbox.js %}{% endcapture %}
                        <pre class="prettyprint linenums">{{ snippet | escape }}</pre>
                    </section>
                    
                    <!-- Radio -->
                    <section id="radio" class="spy">
                        <div class="page-header">
                            <h1>Radio</h1>
                            <p>Representation of a native <code>{{ '<input type="radio"/>' | escape}}</code> element. Same API as <a href="{{ dijitRadioDoc }}">dijit/form/RadioButton</a>.</p>
                        </div>
                        
                        <div class="bs-docs-example">
                            {% include index/radio.html %}
                        </div>
                        
                        <h3>Declarative</h3>
                        {% capture snippet %}{% include index/radio.html %}{% endcapture %}
                        <pre class="prettyprint linenums">{{ snippet | escape }}</pre>
                        
                        <h3>Programmatic</h3>
                        {% capture snippet %}{% include index/radio.js %}{% endcapture %}
                        <pre class="prettyprint linenums">{{ snippet | escape }}</pre>
                    </section>
                    
                    <!-- Select -->
                    <section id="select" class="spy">
                        <div class="page-header">
                            <h1>Select</h1>
                            <p>Representation of a native <code>{{ '<select>' | escape}}</code> element. Same API as <a href="{{ dijitSelectDoc }}">dijit/form/Select</a>.</p>
                        </div>
                        
                        <div class="bs-docs-example">
                            {% include index/select-single.html %}
                        </div>
                        
                        <h3>Declarative</h3>
                        {% capture snippet %}{% include index/select-single.html %}{% endcapture %}
                        <pre class="prettyprint linenums">{{ snippet | escape }}</pre>

                        <h3>Programmatic</h3>
                        {% capture snippet %}{% include index/select-single.js %}{% endcapture %}
                        <pre class="prettyprint linenums">{{ snippet | escape }}</pre>
                        
                        <div class="bs-docs-example">
                            {% include index/select-multiple.html %}
                        </div>
                        
                        <h3>Declarative</h3>
                        {% capture snippet %}{% include index/select-multiple.html %}{% endcapture %}
                        <pre class="prettyprint linenums">{{ snippet | escape }}</pre>

                        <h3>Programmatic</h3>
                        {% capture snippet %}{% include index/select-multiple.js %}{% endcapture %}
                        <pre class="prettyprint linenums">{{ snippet | escape }}</pre>
                    </section>
                    
                    <!-- Textarea -->
                    <section id="textarea" class="spy">
                        <div class="page-header">
                            <h1>Textarea</h1>
                            <p>Representation of a native <code>{{ '<textarea>' | escape}}</code> element. Same API as <a href="{{ dijitTextareaDoc }}">dijit/form/SimpleTextarea</a>.</p>
                        </div>
                        
                        <div class="bs-docs-example">
                            {% include index/textarea.html %}
                        </div>
                        
                        <h3>Declarative</h3>
                        {% capture snippet %}{% include index/textarea.html %}{% endcapture %}
                        <pre class="prettyprint linenums">{{ snippet | escape }}</pre>

                        <h3>Programmatic</h3>
                        {% capture snippet %}{% include index/textarea.js %}{% endcapture %}
                        <pre class="prettyprint linenums">{{ snippet | escape }}</pre>
                    </section>
                    
                    <!-- ExpandingTextarea -->
                    <section id="expanding-textarea" class="spy">
                        <div class="page-header">
                            <h1>ExpandingTextarea</h1>
                            <p>Representation of a native <code>{{ '<textarea>' | escape}}</code> element. Same API as <a href="{{ dijitExpandingTextareaDoc }}">dijit/form/Textarea</a>.</p>
                        </div>
                        
                        <div class="bs-docs-example">
                            {% include index/expanding-textarea.html %}
                        </div>
                        
                        <h3>Declarative</h3>
                        {% capture snippet %}{% include index/expanding-textarea.html %}{% endcapture %}
                        <pre class="prettyprint linenums">{{ snippet | escape }}</pre>

                        <h3>Programmatic</h3>
                        {% capture snippet %}{% include index/expanding-textarea.js %}{% endcapture %}
                        <pre class="prettyprint linenums">{{ snippet | escape }}</pre>
                    </section>
                    
                    <!-- Textbox -->
                    <section id="textbox" class="spy">
                        <div class="page-header">
                            <h1>Textbox</h1>
                            <p>Representation of a native <code>{{ '<input type="text">' | escape}}</code> element. Same API as <a href="{{ dijitTextboxDoc }}">dijit/form/TextBox</a>.</p>
                        </div>
                        
                        <div class="bs-docs-example">
                            {% include index/textbox.html %}
                        </div>
                        
                        <h3>Declarative</h3>
                        {% capture snippet %}{% include index/textbox.html %}{% endcapture %}
                        <pre class="prettyprint linenums">{{ snippet | escape }}</pre>

                        <h3>Programmatic</h3>
                        {% capture snippet %}{% include index/textbox.js %}{% endcapture %}
                        <pre class="prettyprint linenums">{{ snippet | escape }}</pre>
                    </section>
                </div>
            </div>
        </div>
        
        {% include footer.html %}
        {% include scripts.html %}
        {% include analytics.html %}
    </body>
</html>